*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right:20px ;
}
a{
    text-decoration: none;
    color: #555;
}
P{
    color: #555;
}
.container
{
    max-width: 1300px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.col-2 img
{

    max-width: 700%;
    align-self: center;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width:250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.col-4
{
    flex-basis: 25%;
    padding: 10px;
    min-width: 250px;
    margin-bottom: 30px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;

}
.col-4:hover{
    transform: translateY(-10px);
}

@media only screen and (max-width: 1080px)
{
    .row{
        text-align: center;
    }
    .col-2 img,.col-3 img,.col-4 img
    {
        flex-basis: 100%;
    }

}
