<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="boxicon/css/boxicon.css">
    <link rel="stylesheet" type="text/css" href="http://localhost:9195/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/customer_Home.css" />
    <title>Shop | Ecommerce website Design</title>
</head>

<body>
<div class="container">
    <div class="navbar">
        <div class="logo">
            <img src="images/sk.png" width="110px">
        </div>
        <nav class="navbar navbar-expand-lg narbar-light bg-light">
            <div class="container-fluid">
                <a href="" class="navbar-brand">Ajio</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#myId">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse " id="myId">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item ">
                            <a href="file:///C:/Users/my%20pc/Desktop/Shop/index.html" class="nav-link">HOME</a>
                        </li>
                        <li class="nav-item ">
                            <a href="" class="nav-link">ABOUT</a>
                        </li>
                        <li class="nav-item ">
                            <a href="" class="nav-link">SERVICE</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">PRODUCTS</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">SEARCH</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <img src="images/cart.png" width="30px" height="30px">
    </div>
</div>
<div class="row">
    <div class="col-2">
        <img src="images/home.png" class="center">
    </div>
</div>
</div>

<!----------featured categerries-------->
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <p><a href="file:///D:/sample/index.html"><img src="images/cat10.png"></a></p>
            </div>
            <div class="col-3">
                <img src="images/cat8.png">
            </div>
            <div class="col-3">
                <img src="images/cat9.png">
            </div>
            <div class="col-3">
                <img src="images/cat11.png">
            </div>
        </div>
    </div>
</div>

<div class="small-container">
    <h2>FEATURED PRODUCTS</h2>
    <div class="row">
        <div class="col-4">
            <p><a href="http://localhost:9195/kelio"><img src="images/bag.png"></a></p>
            <h4>KLEIO</h4>
            <p>Quilted Sling Bag with Chain Strap
                ₹1,999 (37% OFF)
                selling price ₹1,250</p>
            <div><button type="submit" class="btn btn-success">add to cart</button></div>
        </div>
        <div class="col-4">
            <p><a href="http://localhost:9195/bangle"><img src="images/bangle.png"></a></p>
            <h4>SHINING DIVA</h4>
            <p>Set of 4 Crystal Cubic Zirconia Bangle Charm Bracelet
                MRP₹1,499 (84% OFF)
                selling price ₹240</p>
            <div><button type="submit" class="btn btn-success">add to cart</button></div>
        </div>
        <div class="col-4">
            <p><a href="http://localhost:9195/ear"><img src="images/ear.png"></a></p>
            <h4>CANDERE BY KALYAN JEWELLERS</h4>
            <p>2GH Rose Gold Diamond Butterfly Studs | 14 Kt | 2.3 gm
                MRP₹30,449 (23% OFF)
                selling price ₹23,446</p>

            <div><button type="submit" class="btn btn-success">add to cart</button></div>
        </div>
    </div>
</div>

<!---------row 2-------->
<div class="small-container">
    <div class="row">
        <div class="col-4">
            <p><a href="http://localhost:9195/campus"><img src="images/shoe.png"></a></p>
            <h4>CAMPUS</h4>
            <p>Rim Lace-Up Running Shoes
                MRP₹1,999 (43% OFF) selling price ₹1,139</p>
            <div><button type="submit" class="btn btn-success">add to cart</button></div>
        </div>
        <div class="col-4">
            <p><a href="http://localhost:9195/dress"><img src="images/dress.png"></a></p>
            <h4>GULMOHAR JAIPUR</h4>
            <p>Floral Print Flared Kurta
                MRP₹2,499 (65% OFF) selling price ₹875</p>
            <div><button type="submit" class="btn btn-success">add to cart</button></div>
        </div>
        <div class="col-4">
            <p><a href="http://localhost:9195/shirt"><img src="images/shirt.png"></a></p>
            <h4>THE BEAR HOUSE</h4>
            <p>Slim Fit Shirt with Patch Pocket
                MRP₹2,495 (55% OFF) selling price ₹1,123</p>
            <div><button type="submit" class="btn btn-success">add to cart</button></div>
        </div>
    </div>
</div>
</body>

</html>