<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link rel="stylesheet" href="css/home.css" />
</head>
<body>
<div class="container">
    <form action="register">
   <button type="submit" class="custregisterbtn">Customer  Registration</button>
    </form>
    <form action="publisher">
        <button type="submit" class="pubregisterbtn">Publisher  Registration</button>
    </form>
    <form action="login">
   <button type="submit" class="login">Login</button>
    </form>
</div>
</body>
</html>